  {{!-- <img
    class='finfo-moviecard__img'
    src='{{poster_path}}'
    alt='{{title}}'
    width='150'
    height='250'
    loading='lazy'
  />
  <div class='finfo-moviecard__container'>
    <h2 class='finfo-moviecard__name'>{{original_title}}</h2>
    <table class='finfo-moviecard__info'>
      <tr class='finfo-moviecard__table'>
        <th class='finfo-moviecard__table-title'>Vote / Votes</th>
        <td class='finfo-moviecard__table-description'>
          <span>{{toFixed vote_average 1}}</span>
          / {{vote_count}}</td>
      </tr>
      <tr class='finfo-moviecard__table'>
        <td class='finfo-moviecard__table-title'>Popularity</td>
        <td class='finfo-moviecard__table-description'>{{toFixed popularity 1}}</td>
      </tr>
      <tr class='finfo-moviecard__table'>
        <td class='finfo-moviecard__table-title'>Original Title</td>
        <td class='finfo-moviecard__table-description'>{{original_title
}}</td>
      </tr>
      <tr class='finfo-moviecard__table'>
        <td class='finfo-moviecard__table-title'>Genre</td>
        <td class='finfo-moviecard__table-description'>

            {{#each genres}}
            {{name}}
            {{/each}}

        </td>
      </tr>
    </table>
    <p class='finfo-moviecard__text-about'>ABOUT</p>
    <p class='finfo-moviecard__text'>{{overview}}</p>
  </div> --}}


<div class='finfo-moviecard'>
  <img class="finfo-moviecard__img" src="{{poster_path}}" alt="{{title}}" width="150"
    height="250" loading="lazy">
  <div class="finfo-moviecard__container">
    <h2 class="finfo-moviecard__name">{{title}}</h2>
    <table class="finfo-moviecard__info">

      <tr class="finfo-moviecard__table">
        <td class="finfo-moviecard__table-title">Vote / Votes</td>
        <td class="finfo-moviecard__table-description"> <span class="finfo-moviecard__table-accent">{{toFixed vote_average 1}}</span> / {{vote_count}}
        </td>
      </tr>
      <tr class="finfo-moviecard__table">
        <td class="finfo-moviecard__table-title">Popularity</td>
        <td class="finfo-moviecard__table-description">{{toFixed popularity 1}}</td>
      </tr>
      <tr class="finfo-moviecard__table">
        <td class="finfo-moviecard__table-title">Original Title</td>
        <td class="finfo-moviecard__table-description">{{original_title}}</td>
      </tr>
      <tr class="finfo-moviecard__table">
        <td class="finfo-moviecard__table-title">Genre</td>
        <td class="finfo-moviecard__table-description">

          {{#each genres}}
          {{name}}
          {{/each}}

        </td>
      </tr>

    </table>
    <p class="finfo-moviecard__text-about">ABOUT</p>
    <p class="finfo-moviecard__text">{{overview}}</p>
  </div>
</div>
<div>
  <button class="button button--light-mode watch-js" type="button" data-movie-id="{{id}}">ADD TO WATCHED</button>
  <button class="button button--light-mode queue-js" type="button" data-movie-id="{{id}}">ADD TO QUEUE</button>
</div>
</div>